{% extends 'app/index.html' %}
{% load static %}

{% block payment %}

  <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST" class="container text-center">
    {% csrf_token %}
     <label for="amount">Amount </label>

  <input type="text" id="amount" name="amount" readonly value="{{amount}}" required>

  {{form|safe}}

  <input value="Submit" type="submit"><br><hr><br><br>
  </form>
 
  {% comment %} value="total_amount,transaction_uuid,product_code" {% endcomment %}
  

{% endblock payment %}


