{% extends 'app/index.html' %}
{% load static %}

{% block main-content %}
<div class="container">
    <div class="row my-4">
        <div class="col-sm-7 offset-sm-3">
            <h3 class="text-center">Confirm Password</h3>
            <hr>
            <form action="#" method="post" novalidate class="shadow p-5">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group ">
                        {{field.label_tag}} <br> {{field}}<br>
                      
                        <small class="text-danger">{{ field.errors|striptags }}</small>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary mt-4">Submit</button>
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
